/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #149800;
  --destaque-inverso: #52E55B;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  background-attachment: fixed;
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;  
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.5em;
}

div#social {
  display: flex;
  margin-top: 15px;
  gap: 0.5em;
  font-size: 1.7em;
  justify-content: center;
  align-items: center;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s ease-in-out  ;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

section#detalhes article#video div.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

section#detalhes article#video div.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

section#detalhes article#skills div#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

section#detalhes article#skills div#skill-container div.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#detalhes article#skills div#skill-container div.info span.nome {
  font-weight: bold;
  color: var(--texto);
}

section#detalhes article#skills div#skill-container div.info span.porcent {
  font-weight: bold;
  color: var(--destaque);
}

section#detalhes article#skills div#skill-container div.barra {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--fundo-principal);
}

section#detalhes article#skills div#skill-container div.barra div.progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha {
    grid-column: 2;
    height: 500px;
  }

  section#detalhes {
    grid-column: 3;
  }

  section#detalhes article#skills div#skill-container {
    grid-template-columns: 1fr 1fr;
  }
}